body {
  margin:0;
  padding: 0;
  font-family: 'Roboto';
  color:#313131;
}

a{
  text-decoration:none;
  color:inherit;
}

header, footer {
  background: #f4f4f4;
  border-bottom: 1px solid lightgray;
  padding: 10px 0;
  text-align: center;
  font-family: 'Sedgwick Ave', cursive;
  font-size: 22px;
}

.home-latest {
  box-sizing: border-box;
  padding: 0
}

.home-latest .item .image_cover{
  position: relative;
  background-size: cover !important;
  height: 200px;
}

.home-latest .item .description {
  width:100%;
  position: absolute;
  bottom:0px;
}

.home-latest .item .description span {
  background:#00bcd4;
  padding: 10px;
  display: inline-block;
  text-transform: uppercase;
  color:#fff;
  font-size: 10px;
}

.home-latest .item .description div {
  padding: 10px;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 700;
  color: #fff;
  text-align: center;
  background: rgba(53,53,53,0.64);
}

.other-news {
  box-sizing: border-box;
  padding: 10px;
}

.other-news h2 {
  font-weight: 300;
}

.other-news-items .item {
  display: flex;
  border:1px solid #e6e6e6;
}

.other-news-items .item .left {
  flex-grow: 1;
  width: 100px;
  height:120px;
  background-size: cover !important;
  background-position: center center !important;
}

.other-news-items .item .right {
  width: 80%;
  height: 120px;
  padding: 10px 15px;
  box-sizing: border-box;
  position: relative;
}

.other-news-items .item .right h3 {
  margin: 0px;
  font-weight: 300;
  font-size: 18px;
}

.other-news-items .item .right .category-tag {
  position: absolute;
  right:0;
  bottom: 0;
  background: #00bcd4;
  font-size: 10px;
  text-transform: uppercase;
  padding: 5px 10px;
  color: #fff;
}

.other-news-items .item .right .tags {
  position: absolute;
  bottom:6px;

}

.other-news-items .item .right .tags span {
  margin-right: 15px;
  font-size: 12px;
  color:#607d8b;
}

.home-gallery {
  text-align: left;
}

.home-gallery h2 {
  font-weight: 300;
  padding: 10px;
  margin: 10px;
}

.home-gallery .slider-item .image {
  background-size: cover !important;
  background-position: center center !important;
  width:100%;
  height:370px;
  position: relative;
}

.home-gallery .slider-item .image h3 {
  position: absolute;
  color:#fff;
  bottom:0;
  left:20px;
  font-size: 30px;
  font-weight: 400;
}

.news_container .tags {
  background: #f8f8f8;
  padding: 10px;
  color:#c5c5c5;
  font-size: 14px;
}

.news_container .tags span {
  margin-right: 15px;
}

.news_container .top {
  box-sizing: border-box;
  padding: 10px;
}

.news_container .top h2 {
  font-weight: 500;
  font-size: 30px;
  margin: 0;
  line-height: 32px;
}

.news_container .top span {
  color:#00bcd4;
  font-weight: 300;
  font-size: 11px;
  margin-top: 10px;
  display: inline-block;
}

.news_container img {
  width: 100%;
}

.news_container .body_news {
  text-align: justify;
  padding: 20px;
  font-weight: 300;
  font-size: 17px;
}

.slide-item-wrap h3 {
  font-weight: 300;
  text-align: center;
}

.slide-item-wrap .slide-item .image {
  height: 500px;
  background-size: cover !important;
  background-position: center center !important;
}

.slide-item-wrap .slide-item .description {
  box-sizing: border-box;
  padding:15px ;
  text-align: justify;
  background: #e0e0e0;
}

.addlikes-wrapper {
  margin-bottom: 20px;
}

.addlikes-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addlikes-container .btn {
  cursor: pointer;
  text-align: center;
  background: #f8f8f8;
  flex:1;
  color:#b6d2e8;
  font-size: 30px;
  padding: 20px;
}

.addlikes-container .btn:hover {
  background: #607d8b;
}

.addlikes-container .btn.like {
  border-right: 1px solid #fff;
}

.addlikes-container .btn.dislike {
  border-left: 1px solid #fff;
}
